<a href="https://colab.research.google.com/github/ArminD93/cost_livning_dataset/blob/dev/Cost_living_transport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import zeszytu z ustawieniami:
%cd '/content/drive/My Drive/ColabNotebooks/Cost_living/'
%run Cost_living_configuration.ipynb

/content/drive/My Drive/ColabNotebooks/Cost_living
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Columns: 162 entries, Unnamed: 0 to Quito, Ecuador
dtypes: float64(160), object(2)
memory usage: 64.1 KB

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3946: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [2]:
# Utworzenie obiektu data frame, gdzie będą przechowywane informacje o transporcie:
transport = df_transponed['transport']
transport.head()

Unnamed: 0                                        Gasoline_1l  ...  VolkswagenGolf_car
Region          Country            City                        ...
Caribbean       Dominican Republic Santo Domingo         1.05  ...            20780.40
Central America Costa Rica         San Jose              1.00  ...            20446.99
                Mexico             Guadalajara           1.00  ...            16535.22
                                   Mexico City           0.98  ...            16702.48
                                   Monterrey             0.97  ...            16424.20

[5 rows x 8 columns]

In [3]:
transport.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 160 entries, (Caribbean, Dominican Republic, Santo Domingo) to (Western Europe, Switzerland, Zurich)
Data columns (total 8 columns):
Gasoline_1l                     160 non-null float64
MonthlyPass_Regular             160 non-null float64
OneWay_Ticket_LocalTransport    160 non-null float64
Taxi_1h_Waiting                 160 non-null float64
Taxi_1km                        160 non-null float64
Taxi_Start                      160 non-null float64
Toyota Corolla_Or_New Car       160 non-null float64
VolkswagenGolf_car              160 non-null float64
dtypes: float64(8)
memory usage: 27.9 KB

In [4]:
transport.index

MultiIndex([(      'Caribbean', 'Dominican Republic', 'Santo Domingo'),
            ('Central America',         'Costa Rica',      'San Jose'),
            ('Central America',             'Mexico',   'Guadalajara'),
            ('Central America',             'Mexico',   'Mexico City'),
            ('Central America',             'Mexico',     'Monterrey'),
            ('Central America',             'Panama',   'Panama City'),
            (   'Central Asia',         'Kazakhstan',        'Almaty'),
            ( 'Eastern Africa',              'Kenya',       'Nairobi'),
            (   'Eastern Asia',              'China',       'Beijing'),
            (   'Eastern Asia',              'China',      'Shanghai'),
            ...
            ( 'Western Europe',             'France',         'Paris'),
            ( 'Western Europe',            'Germany',        'Berlin'),
            ( 'Western Europe',            'Germany',     'Frankfurt'),
            ( 'Western Europe',            'Germany',       'Hamburg'),
            ( 'Western Europe',            'Germany',        'Munich'),
            ( 'Western Europe',        'Netherlands',     'Amsterdam'),
            ( 'Western Europe',        'Netherlands',     'Eindhoven'),
            ( 'Western Europe',        'Netherlands',     'Rotterdam'),
            ( 'Western Europe',        'Netherlands',       'Utrecht'),
            ( 'Western Europe',        'Switzerland',        'Zurich')],
           names=['Region', 'Country', 'City'], length=160)