<a href="https://colab.research.google.com/github/ArminD93/cost_livning_dataset/blob/dev/Cost_living_foods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import zeszytu z ustawieniami:
%cd '/content/drive/My Drive/ColabNotebooks/Cost_living/'
%run Cost_living_configuration.ipynb

/content/drive/My Drive/ColabNotebooks/Cost_living
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Columns: 162 entries, Unnamed: 0 to Quito, Ecuador
dtypes: float64(160), object(2)
memory usage: 64.1 KB

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3946: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [3]:
# Utworzenie obiektu data frame, gdzie będą przechowywane informacje o jedzeniu:
foods = df_transponed['foods']
foods.head()

Unnamed: 0                                        12Eggs  ...  Tomato_1kg
Region          Country            City                   ...
Caribbean       Dominican Republic Santo Domingo    1.64  ...        1.02
Central America Costa Rica         San Jose         2.50  ...        2.28
                Mexico             Guadalajara      1.25  ...        0.98
                                   Mexico City      1.36  ...        1.05
                                   Monterrey        1.60  ...        1.23

[5 rows x 14 columns]

In [4]:
foods.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 160 entries, (Caribbean, Dominican Republic, Santo Domingo) to (Western Europe, Switzerland, Zurich)
Data columns (total 14 columns):
12Eggs                                160 non-null float64
Apples_1kg                            160 non-null float64
Banana_1kg                            160 non-null float64
Cheese_1kg                            160 non-null float64
ChickenBreasts_1kg                    160 non-null float64
Lettuce_1head                         160 non-null float64
LoafofBread_500g                      160 non-null float64
Meal2People_MidRestaunant_3-course    160 non-null float64
Meal_InexpRestaurant                  160 non-null float64
Onion_1kg                             160 non-null float64
Oranges_1kg                           160 non-null float64
Potato_1kg                            160 non-null float64
RiceWhite_1kg                         160 non-null float64
Tomato_1kg                            160 non-null float64
dtypes: float64(14)
memory usage: 35.4 KB

In [6]:
foods.index

MultiIndex([(      'Caribbean', 'Dominican Republic', 'Santo Domingo'),
            ('Central America',         'Costa Rica',      'San Jose'),
            ('Central America',             'Mexico',   'Guadalajara'),
            ('Central America',             'Mexico',   'Mexico City'),
            ('Central America',             'Mexico',     'Monterrey'),
            ('Central America',             'Panama',   'Panama City'),
            (   'Central Asia',         'Kazakhstan',        'Almaty'),
            ( 'Eastern Africa',              'Kenya',       'Nairobi'),
            (   'Eastern Asia',              'China',       'Beijing'),
            (   'Eastern Asia',              'China',      'Shanghai'),
            ...
            ( 'Western Europe',             'France',         'Paris'),
            ( 'Western Europe',            'Germany',        'Berlin'),
            ( 'Western Europe',            'Germany',     'Frankfurt'),
            ( 'Western Europe',            'Germany',       'Hamburg'),
            ( 'Western Europe',            'Germany',        'Munich'),
            ( 'Western Europe',        'Netherlands',     'Amsterdam'),
            ( 'Western Europe',        'Netherlands',     'Eindhoven'),
            ( 'Western Europe',        'Netherlands',     'Rotterdam'),
            ( 'Western Europe',        'Netherlands',       'Utrecht'),
            ( 'Western Europe',        'Switzerland',        'Zurich')],
           names=['Region', 'Country', 'City'], length=160)