<a href="https://colab.research.google.com/github/ArminD93/cost_livning_dataset/blob/dev/Cost_living.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/content/cost-of-living.csv')
df.head()

                                          Unnamed: 0  ...  Quito, Ecuador
0                       Meal, Inexpensive Restaurant  ...            3.59
1  Meal for 2 People, Mid-range Restaurant, Three...  ...           31.45
2     McMeal at McDonalds (or Equivalent Combo Meal)  ...            5.39
3                  Domestic Beer (0.5 liter draught)  ...            1.35
4                  Imported Beer (0.33 liter bottle)  ...            2.70

[5 rows x 161 columns]

In [6]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Columns: 161 entries, Unnamed: 0 to Quito, Ecuador
dtypes: float64(160), object(1)
memory usage: 73.8 KB

In [9]:
# Ile jest wierszy?
df.count()

Unnamed: 0                  55
Saint Petersburg, Russia    55
Istanbul, Turkey            55
Izmir, Turkey               55
Helsinki, Finland           55
                            ..
Melbourne, Australia        55
Perth, Australia            55
Sydney, Australia           55
Alexandria, Egypt           55
Quito, Ecuador              55
Length: 161, dtype: int64

In [14]:
df.shape

(55, 161)

In [16]:
# Transpozycja tabelki
df_transponed = df.transpose()
df_transponed.head()

                                                     0  ...                                                54
Unnamed: 0                Meal, Inexpensive Restaurant  ...  International Primary School, Yearly for 1 Child
Saint Petersburg, Russia                          7.34  ...                                           5388.86
Istanbul, Turkey                                  4.58  ...                                           6905.43
Izmir, Turkey                                     3.06  ...                                           4948.41
Helsinki, Finland                                   12  ...                                              1641

[5 rows x 55 columns]