<a href="https://colab.research.google.com/github/ArminD93/cost_livning_dataset/blob/master/Cost_living.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/content/cost-of-living.csv')
df.head(3)

                                          Unnamed: 0  ...  Quito, Ecuador
0                       Meal, Inexpensive Restaurant  ...            3.59
1  Meal for 2 People, Mid-range Restaurant, Three...  ...           31.45
2     McMeal at McDonalds (or Equivalent Combo Meal)  ...            5.39

[3 rows x 161 columns]

In [0]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Columns: 161 entries, Unnamed: 0 to Quito, Ecuador
dtypes: float64(160), object(1)
memory usage: 73.8 KB

In [0]:
df['Adelaide, Australia'].value_counts()

9.32        2
2.63        2
24.48       1
3.41        1
35.40       1
2653.26     1
6.45        1
2.15        1
817.81      1
1.52        1
2.11        1
10.09       1
1.16        1
18.64       1
5.59        1
2.61        1
0.93        1
2.12        1
601.79      1
971.70      1
0.32        1
1.72        1
75.21       1
61.52       1
1.46        1
1.75        1
6.84        1
8815.92     1
2482.56     1
34.05       1
0.97        1
4.97        1
1715.15     1
1.61        1
1.42        1
2.80        1
4.10        1
15167.61    1
56.55       1
1.44        1
41.95       1
76.91       1
15534.80    1
40.39       1
1.76        1
5.91        1
2.36        1
4.07        1
119.44      1
1369.39     1
11.19       1
396.25      1
2.50        1
Name: Adelaide, Australia, dtype: int64