<a href="https://colab.research.google.com/github/ArminD93/cost_livning_dataset/blob/dev/Cost_living_beverages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import zeszytu z ustawieniami:
%cd '/content/drive/My Drive/ColabNotebooks/Cost_living/'
%run Cost_living_configuration.ipynb

/content/drive/My Drive/ColabNotebooks/Cost_living
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Columns: 162 entries, Unnamed: 0 to Quito, Ecuador
dtypes: float64(160), object(2)
memory usage: 64.1 KB

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3946: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [0]:
# Utworzenie obiektu data frame, gdzie będą przechowywane informacje o napojach:
beverages = df_transponed['beverages']
beverages.head()

Unnamed: 0                                        Cappuccino_1cup  ...  Water_1.5l_bottle
Region          Country            City                            ...
Caribbean       Dominican Republic Santo Domingo             1.51  ...               1.17
Central America Costa Rica         San Jose                  2.64  ...               2.16
                Mexico             Guadalajara               1.99  ...               0.73
                                   Mexico City               2.00  ...               0.66
                                   Monterrey                 2.28  ...               0.79

[5 rows x 4 columns]

In [0]:
beverages.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 160 entries, (Caribbean, Dominican Republic, Santo Domingo) to (Western Europe, Switzerland, Zurich)
Data columns (total 4 columns):
Cappuccino_1cup       160 non-null float64
Milk_1l               160 non-null float64
Water_0.33l_bottle    160 non-null float64
Water_1.5l_bottle     160 non-null float64
dtypes: float64(4)
memory usage: 22.9 KB

In [0]:
beverages.index

MultiIndex([(      'Caribbean', 'Dominican Republic', 'Santo Domingo'),
            ('Central America',         'Costa Rica',      'San Jose'),
            ('Central America',             'Mexico',   'Guadalajara'),
            ('Central America',             'Mexico',   'Mexico City'),
            ('Central America',             'Mexico',     'Monterrey'),
            ('Central America',             'Panama',   'Panama City'),
            (   'Central Asia',         'Kazakhstan',        'Almaty'),
            ( 'Eastern Africa',              'Kenya',       'Nairobi'),
            (   'Eastern Asia',              'China',       'Beijing'),
            (   'Eastern Asia',              'China',      'Shanghai'),
            ...
            ( 'Western Europe',             'France',         'Paris'),
            ( 'Western Europe',            'Germany',        'Berlin'),
            ( 'Western Europe',            'Germany',     'Frankfurt'),
            ( 'Western Europe',            'Germany',       'Hamburg'),
            ( 'Western Europe',            'Germany',        'Munich'),
            ( 'Western Europe',        'Netherlands',     'Amsterdam'),
            ( 'Western Europe',        'Netherlands',     'Eindhoven'),
            ( 'Western Europe',        'Netherlands',     'Rotterdam'),
            ( 'Western Europe',        'Netherlands',       'Utrecht'),
            ( 'Western Europe',        'Switzerland',        'Zurich')],
           names=['Region', 'Country', 'City'], length=160)