<a href="https://colab.research.google.com/github/ArminD93/cost_livning_dataset/blob/dev/Cost_living.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/content/cost-of-living.csv', index_col='Unnamed: 0', low_memory=False)
df.head()

                                                    Saint Petersburg, Russia  ...  Quito, Ecuador
Meal, Inexpensive Restaurant                                            7.34  ...            3.59
Meal for 2 People, Mid-range Restaurant, Three-...                     29.35  ...           31.45
McMeal at McDonalds (or Equivalent Combo Meal)                          4.40  ...            5.39
Domestic Beer (0.5 liter draught)                                       2.20  ...            1.35
Imported Beer (0.33 liter bottle)                                       2.20  ...            2.70

[5 rows x 160 columns]

In [2]:
df.columns

Index(['Saint Petersburg, Russia', 'Istanbul, Turkey', 'Izmir, Turkey',
       'Helsinki, Finland', 'Chisinau, Moldova', 'Milan, Italy',
       'Cairo, Egypt', 'Banja Luka, Bosnia And Herzegovina',
       'Baku, Azerbaijan', 'Guadalajara, Mexico',
       ...
       'Lviv, Ukraine', 'Novosibirsk, Russia', 'Bursa, Turkey',
       'Brussels, Belgium', 'Jerusalem, Israel', 'Melbourne, Australia',
       'Perth, Australia', 'Sydney, Australia', 'Alexandria, Egypt',
       'Quito, Ecuador'],
      dtype='object', length=160)

In [3]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, Meal, Inexpensive Restaurant to International Primary School, Yearly for 1 Child
Columns: 160 entries, Saint Petersburg, Russia to Quito, Ecuador
dtypes: float64(160)
memory usage: 73.7 KB

In [4]:
# Ile jest wierszy?
df.count()

Saint Petersburg, Russia    55
Istanbul, Turkey            55
Izmir, Turkey               55
Helsinki, Finland           55
Chisinau, Moldova           55
                            ..
Melbourne, Australia        55
Perth, Australia            55
Sydney, Australia           55
Alexandria, Egypt           55
Quito, Ecuador              55
Length: 160, dtype: int64

In [5]:
df.shape

(55, 160)

In [6]:
# Transpozycja tabelki
df_transponed = df.transpose()
df_transponed.head()

                          Meal, Inexpensive Restaurant  ...  International Primary School, Yearly for 1 Child
Saint Petersburg, Russia                          7.34  ...                                           5388.86
Istanbul, Turkey                                  4.58  ...                                           6905.43
Izmir, Turkey                                     3.06  ...                                           4948.41
Helsinki, Finland                                12.00  ...                                           1641.00
Chisinau, Moldova                                 4.67  ...                                           2679.30

[5 rows x 55 columns]

In [7]:
df_transponed.columns

Index(['Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Domestic Beer (0.5 liter draught)',
       'Imported Beer (0.33 liter bottle)', 'Coke/Pepsi (0.33 liter bottle)',
       'Water (0.33 liter bottle)', 'Milk (regular), (1 liter)',
       'Loaf of Fresh White Bread (500g)', 'Eggs (regular) (12)',
       'Local Cheese (1kg)', 'Water (1.5 liter bottle)',
       'Bottle of Wine (Mid-Range)', 'Domestic Beer (0.5 liter bottle)',
       'Imported Beer (0.33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)',
       'One-way Ticket (Local Transport)',
       'Chicken Breasts (Boneless, Skinless), (1kg)',
       'Monthly Pass (Regular Price)', 'Gasoline (1 liter)', 'Volkswagen Golf',
       'Apartment (1 bedroom) in City Centre',
       'Apartment (1 bedroom) Outside of Centre',
       'Apartment (3 bedrooms) in City Centre',
       'Apartment (3 bedrooms) Outside of Centre',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent (1 Hour on Weekend)',
       'Cinema, International Release, 1 Seat',
       '1 Pair of Jeans (Levis 501 Or Similar)',
       '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
       '1 Pair of Nike Running Shoes (Mid-Range)',
       '1 Pair of Men Leather Business Shoes',
       'Price per Square Meter to Buy Apartment in City Centre',
       'Price per Square Meter to Buy Apartment Outside of Centre',
       'Average Monthly Net Salary (After Tax)',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'Taxi Start (Normal Tariff)', 'Taxi 1km (Normal Tariff)',
       'Taxi 1hour Waiting (Normal Tariff)', 'Apples (1kg)', 'Oranges (1kg)',
       'Potato (1kg)', 'Lettuce (1 head)', 'Cappuccino (regular)',
       'Rice (white), (1kg)', 'Tomato (1kg)', 'Banana (1kg)', 'Onion (1kg)',
       'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
       'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'International Primary School, Yearly for 1 Child'],
      dtype='object')

In [8]:
newColumnNames = { 
                  'Meal, Inexpensive Restaurant'                                                  :   'Meal_InexpRestaurant',
                  'Meal for 2 People, Mid-range Restaurant, Three-course'                         :   'Meal2People_MidRestaunant_3-course',
                  'McMeal at McDonalds (or Equivalent Combo Meal)'                                :   'McMeal_or_Equivalent_Combo_Meal',
                  'Domestic Beer (0.5 liter draught)'                                             :   'Domestic_Beer_0.5l_draught',
                  'Imported Beer (0.33 liter bottle)'                                             :   'Imported_Beer_0.33l_bottle',
                  'Coke/Pepsi (0.33 liter bottle)'                                                :   'CokeOrPepsi_0.33l_bottle',
                  'Water (0.33 liter bottle)'                                                     :   'Water_0.33l_bottle',
                  'Milk (regular), (1 liter)'                                                     :   'Milk_1l',
                  'Loaf of Fresh White Bread (500g)'                                              :   'LoafofBread_500g',
                  'Eggs (regular) (12)'                                                           :   '12Eggs',
                  'Local Cheese (1kg)'                                                            :   'Cheese_1kg',
                  'Water (1.5 liter bottle)'                                                      :   'Water_1.5l_bottle',
                  'Bottle of Wine (Mid-Range)'                                                    :   'WineBottle',
                  'Domestic Beer (0.5 liter bottle)'                                              :   'Domestic_Beer_0.5l_bottle',
                  'Imported Beer (0.33 liter bottle)'                                             :   'Imported_Beer_0.33l_bottle',
                  'Cigarettes 20 Pack (Marlboro)'                                                 :   'Cigarettes20Pack',
                  'One-way Ticket (Local Transport)'                                              :   'OneWay_Ticket_LocalTransport',
                  'Chicken Breasts (Boneless, Skinless), (1kg)'                                   :   'ChickenBreasts_1kg',
                  'Monthly Pass (Regular Price)'                                                  :   'MonthlyPass_Regular',
                  'Gasoline (1 liter)'                                                            :   'Gasoline_1l',
                  'Volkswagen Golf'                                                               :   'VolkswagenGolf',
                  'Apartment (1 bedroom) in City Centre'                                          :   '1Bed_Apartment_CityCentre',
                  'Apartment (1 bedroom) Outside of Centre'                                       :   '1Bed_Apartment_OutsideofCentre',
                  'Apartment (3 bedrooms) in City Centre'                                         :   '3Bed_Apartment_CityCentre',
                  'Apartment (3 bedrooms) Outside of Centre'                                      :   '3Bed_Apartment_OutsideofCentre',
                  'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment'      :   'Basic_ElectricityHeatingCoolingWaterGarbage_for85m2Apartment',
                  '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)'                 :   '1minOfPrepaidMobileTariffLocal',
                  'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)'                        :   'Internet',
                  'Fitness Club, Monthly Fee for 1 Adult'                                         :   'FitnessClub_Monthlyfor1Adult',
                  'Tennis Court Rent (1 Hour on Weekend)'                                         :   'Tennis_Court_Rent_1HourWeekend',
                  'Cinema, International Release, 1 Seat'                                         :   'Cinema_1Seat',
                  '1 Pair of Jeans (Levis 501 Or Similar)'                                        :   '1PairOfJeans',
                  '1 Summer Dress in a Chain Store (Zara, H&M, ...)'                              :   '1SummerDress_ChainStore',
                  '1 Pair of Nike Running Shoes (Mid-Range)'                                      :   '1PairNikeRunningShoes',
                  '1 Pair of Men Leather Business Shoes'                                          :   '1PairMenLeatherBusinessShoes',
                  'Price per Square Meter to Buy Apartment in City Centre'                        :   'Apartment_inCityCentre_PricePerm2',
                  'Price per Square Meter to Buy Apartment Outside of Centre'                     :   'Apartment_OutsideOfCentre_PricePerm2',
                  'Average Monthly Net Salary (After Tax)'                                        :   'AvgMonthly_Netto_Salary',
                  'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate'    :   'Mortgage_Interest_Rate_%_Yearly_for_20_Years_Fixed-Rate',
                  'Taxi Start (Normal Tariff)'                                                    :   'Taxi_Start',
                  'Taxi 1km (Normal Tariff)'                                                      :   'Taxi_1km',
                  'Taxi 1hour Waiting (Normal Tariff)'                                            :   'Taxi_1h_Waiting',
                  'Apples (1kg)'                                                                  :   'Apples_1kg',
                  'Oranges (1kg)'                                                                 :   'Oranges_1kg)',
                  'Potato (1kg)'                                                                  :   'Potato_1kg)',
                  'Lettuce (1 head)'                                                              :   'Lettuce_1head',
                  'Cappuccino (regular)'                                                          :   'Cappuccino',
                  'Rice (white), (1kg)'                                                           :   'RiceWhite_1kg',
                  'Tomato (1kg)'                                                                  :   'Tomato_1kg',
                  'Banana (1kg)'                                                                  :   'Banana_1kg',
                  'Onion (1kg)'                                                                   :   'Onion_1kg',
                  'Beef Round (1kg) (or Equivalent Back Leg Red Meat)'                            :   'Beef_1kg',
                  'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)'                      :   'Toyota Corolla_Or_New Car',
                  'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child'           :   'PreschoolPrivate_MonthlyFor1Child',
                  'International Primary School, Yearly for 1 Child'                              :   'Primary School_YearlyFor1Child'
    
                  }

df_transponed.rename(columns=newColumnNames, inplace=True)
df_transponed.head(5)

                          Meal_InexpRestaurant  ...  Primary School_YearlyFor1Child
Saint Petersburg, Russia                  7.34  ...                         5388.86
Istanbul, Turkey                          4.58  ...                         6905.43
Izmir, Turkey                             3.06  ...                         4948.41
Helsinki, Finland                        12.00  ...                         1641.00
Chisinau, Moldova                         4.67  ...                         2679.30

[5 rows x 55 columns]

In [9]:
df_transponed.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 160 entries, Saint Petersburg, Russia to Quito, Ecuador
Data columns (total 55 columns):
Meal_InexpRestaurant                                            160 non-null float64
Meal2People_MidRestaunant_3-course                              160 non-null float64
McMeal_or_Equivalent_Combo_Meal                                 160 non-null float64
Domestic_Beer_0.5l_draught                                      160 non-null float64
Imported_Beer_0.33l_bottle                                      160 non-null float64
CokeOrPepsi_0.33l_bottle                                        160 non-null float64
Water_0.33l_bottle                                              160 non-null float64
Milk_1l                                                         160 non-null float64
LoafofBread_500g                                                160 non-null float64
12Eggs                                                          160 non-null float64
Cheese_1kg                                                      160 non-null float64
Water_1.5l_bottle                                               160 non-null float64
WineBottle                                                      160 non-null float64
Domestic_Beer_0.5l_bottle                                       160 non-null float64
Imported_Beer_0.33l_bottle                                      160 non-null float64
Cigarettes20Pack                                                160 non-null float64
OneWay_Ticket_LocalTransport                                    160 non-null float64
ChickenBreasts_1kg                                              160 non-null float64
MonthlyPass_Regular                                             160 non-null float64
Gasoline_1l                                                     160 non-null float64
VolkswagenGolf                                                  160 non-null float64
1Bed_Apartment_CityCentre                                       160 non-null float64
1Bed_Apartment_OutsideofCentre                                  160 non-null float64
3Bed_Apartment_CityCentre                                       160 non-null float64
3Bed_Apartment_OutsideofCentre                                  160 non-null float64
Basic_ElectricityHeatingCoolingWaterGarbage_for85m2Apartment    160 non-null float64
1minOfPrepaidMobileTariffLocal                                  160 non-null float64
Internet                                                        160 non-null float64
FitnessClub_Monthlyfor1Adult                                    160 non-null float64
Tennis_Court_Rent_1HourWeekend                                  160 non-null float64
Cinema_1Seat                                                    160 non-null float64
1PairOfJeans                                                    160 non-null float64
1SummerDress_ChainStore                                         160 non-null float64
1PairNikeRunningShoes                                           160 non-null float64
1PairMenLeatherBusinessShoes                                    160 non-null float64
Apartment_inCityCentre_PricePerm2                               160 non-null float64
Apartment_OutsideOfCentre_PricePerm2                            160 non-null float64
AvgMonthly_Netto_Salary                                         160 non-null float64
Mortgage_Interest_Rate_%_Yearly_for_20_Years_Fixed-Rate         160 non-null float64
Taxi_Start                                                      160 non-null float64
Taxi_1km                                                        160 non-null float64
Taxi_1h_Waiting                                                 160 non-null float64
Apples_1kg                                                      160 non-null float64
Oranges_1kg)                                                    160 non-null float64
Potato_1kg)                                                     160 non-null float64
Lettuce_1head                                                   160 non-null float64
Cappuccino                                                      160 non-null float64
RiceWhite_1kg                                                   160 non-null float64
Tomato_1kg                                                      160 non-null float64
Banana_1kg                                                      160 non-null float64
Onion_1kg                                                       160 non-null float64
Beef_1kg                                                        160 non-null float64
Toyota Corolla_Or_New Car                                       160 non-null float64
PreschoolPrivate_MonthlyFor1Child                               160 non-null float64
Primary School_YearlyFor1Child                                  160 non-null float64
dtypes: float64(55)
memory usage: 80.5 KB

In [10]:
df_transponed.drop(columns=['McMeal_or_Equivalent_Combo_Meal', 'Domestic_Beer_0.5l_draught', 'Imported_Beer_0.33l_bottle', 'CokeOrPepsi_0.33l_bottle', 'WineBottle', 
                            'Domestic_Beer_0.5l_bottle', 'Imported_Beer_0.33l_bottle', 'Cigarettes20Pack', 'Mortgage_Interest_Rate_%_Yearly_for_20_Years_Fixed-Rate', 'Beef_1kg'], inplace=True)

df_transponed.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 160 entries, Saint Petersburg, Russia to Quito, Ecuador
Data columns (total 45 columns):
Meal_InexpRestaurant                                            160 non-null float64
Meal2People_MidRestaunant_3-course                              160 non-null float64
Water_0.33l_bottle                                              160 non-null float64
Milk_1l                                                         160 non-null float64
LoafofBread_500g                                                160 non-null float64
12Eggs                                                          160 non-null float64
Cheese_1kg                                                      160 non-null float64
Water_1.5l_bottle                                               160 non-null float64
OneWay_Ticket_LocalTransport                                    160 non-null float64
ChickenBreasts_1kg                                              160 non-null float64
MonthlyPass_Regular                                             160 non-null float64
Gasoline_1l                                                     160 non-null float64
VolkswagenGolf                                                  160 non-null float64
1Bed_Apartment_CityCentre                                       160 non-null float64
1Bed_Apartment_OutsideofCentre                                  160 non-null float64
3Bed_Apartment_CityCentre                                       160 non-null float64
3Bed_Apartment_OutsideofCentre                                  160 non-null float64
Basic_ElectricityHeatingCoolingWaterGarbage_for85m2Apartment    160 non-null float64
1minOfPrepaidMobileTariffLocal                                  160 non-null float64
Internet                                                        160 non-null float64
FitnessClub_Monthlyfor1Adult                                    160 non-null float64
Tennis_Court_Rent_1HourWeekend                                  160 non-null float64
Cinema_1Seat                                                    160 non-null float64
1PairOfJeans                                                    160 non-null float64
1SummerDress_ChainStore                                         160 non-null float64
1PairNikeRunningShoes                                           160 non-null float64
1PairMenLeatherBusinessShoes                                    160 non-null float64
Apartment_inCityCentre_PricePerm2                               160 non-null float64
Apartment_OutsideOfCentre_PricePerm2                            160 non-null float64
AvgMonthly_Netto_Salary                                         160 non-null float64
Taxi_Start                                                      160 non-null float64
Taxi_1km                                                        160 non-null float64
Taxi_1h_Waiting                                                 160 non-null float64
Apples_1kg                                                      160 non-null float64
Oranges_1kg)                                                    160 non-null float64
Potato_1kg)                                                     160 non-null float64
Lettuce_1head                                                   160 non-null float64
Cappuccino                                                      160 non-null float64
RiceWhite_1kg                                                   160 non-null float64
Tomato_1kg                                                      160 non-null float64
Banana_1kg                                                      160 non-null float64
Onion_1kg                                                       160 non-null float64
Toyota Corolla_Or_New Car                                       160 non-null float64
PreschoolPrivate_MonthlyFor1Child                               160 non-null float64
Primary School_YearlyFor1Child                                  160 non-null float64
dtypes: float64(45)
memory usage: 68.0 KB