<a href="https://colab.research.google.com/github/ArminD93/cost_livning_dataset/blob/dev/Cost_living.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [249]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/content/cost-of-living.csv', low_memory=False)
df.head(3)

                                             Product  ...  Quito, Ecuador
0                       Meal, Inexpensive Restaurant  ...            3.59
1  Meal for 2 People, Mid-range Restaurant, Three...  ...           31.45
2     McMeal at McDonalds (or Equivalent Combo Meal)  ...            5.39

[3 rows x 161 columns]

In [250]:
# Zmiana nazwy kolumny:
df.rename(columns={'Product' : 'City'}, inplace=True)

# Ustawienie indeksu:,
df.set_index('City', inplace=True)
df.head(1)

                              Saint Petersburg, Russia  ...  Quito, Ecuador
City                                                    ...
Meal, Inexpensive Restaurant                      7.34  ...            3.59

[1 rows x 160 columns]

In [251]:
df.index

Index(['Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Domestic Beer (0.5 liter draught)',
       'Imported Beer (0.33 liter bottle)', 'Coke/Pepsi (0.33 liter bottle)',
       'Water (0.33 liter bottle)', 'Milk (regular), (1 liter)',
       'Loaf of Fresh White Bread (500g)', 'Eggs (regular) (12)',
       'Local Cheese (1kg)', 'Water (1.5 liter bottle)',
       'Bottle of Wine (Mid-Range)', 'Domestic Beer (0.5 liter bottle)',
       'Imported Beer (0.33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)',
       'One-way Ticket (Local Transport)',
       'Chicken Breasts (Boneless, Skinless), (1kg)',
       'Monthly Pass (Regular Price)', 'Gasoline (1 liter)', 'Volkswagen Golf',
       'Apartment (1 bedroom) in City Centre',
       'Apartment (1 bedroom) Outside of Centre',
       'Apartment (3 bedrooms) in City Centre',
       'Apartment (3 bedrooms) Outside of Centre',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent (1 Hour on Weekend)',
       'Cinema, International Release, 1 Seat',
       '1 Pair of Jeans (Levis 501 Or Similar)',
       '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
       '1 Pair of Nike Running Shoes (Mid-Range)',
       '1 Pair of Men Leather Business Shoes',
       'Price per Square Meter to Buy Apartment in City Centre',
       'Price per Square Meter to Buy Apartment Outside of Centre',
       'Average Monthly Net Salary (After Tax)',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'Taxi Start (Normal Tariff)', 'Taxi 1km (Normal Tariff)',
       'Taxi 1hour Waiting (Normal Tariff)', 'Apples (1kg)', 'Oranges (1kg)',
       'Potato (1kg)', 'Lettuce (1 head)', 'Cappuccino (regular)',
       'Rice (white), (1kg)', 'Tomato (1kg)', 'Banana (1kg)', 'Onion (1kg)',
       'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
       'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'International Primary School, Yearly for 1 Child'],
      dtype='object', name='City')

In [252]:
newColumnNames = {
                  'Meal, Inexpensive Restaurant'                                                  :   'Meal_InexpRestaurant',
                  'Meal for 2 People, Mid-range Restaurant, Three-course'                         :   'Meal2People_MidRestaunant_3-course',
                  'McMeal at McDonalds (or Equivalent Combo Meal)'                                :   'McMeal_or_Equivalent_Combo_Meal',
                  'Domestic Beer (0.5 liter draught)'                                             :   'Domestic_Beer_0.5l_draught',
                  'Imported Beer (0.33 liter bottle)'                                             :   'Imported_Beer_0.33l_bottle',
                  'Coke/Pepsi (0.33 liter bottle)'                                                :   'CokeOrPepsi_0.33l_bottle',
                  'Water (0.33 liter bottle)'                                                     :   'Water_0.33l_bottle',
                  'Milk (regular), (1 liter)'                                                     :   'Milk_1l',
                  'Loaf of Fresh White Bread (500g)'                                              :   'LoafofBread_500g',
                  'Eggs (regular) (12)'                                                           :   '12Eggs',
                  'Local Cheese (1kg)'                                                            :   'Cheese_1kg',
                  'Water (1.5 liter bottle)'                                                      :   'Water_1.5l_bottle',
                  'Bottle of Wine (Mid-Range)'                                                    :   'WineBottle',
                  'Domestic Beer (0.5 liter bottle)'                                              :   'Domestic_Beer_0.5l_bottle',
                  'Imported Beer (0.33 liter bottle)'                                             :   'Imported_Beer_0.33l_bottle',
                  'Cigarettes 20 Pack (Marlboro)'                                                 :   'Cigarettes20Pack',
                  'One-way Ticket (Local Transport)'                                              :   'OneWay_Ticket_LocalTransport',
                  'Chicken Breasts (Boneless, Skinless), (1kg)'                                   :   'ChickenBreasts_1kg',
                  'Monthly Pass (Regular Price)'                                                  :   'MonthlyPass_Regular',
                  'Gasoline (1 liter)'                                                            :   'Gasoline_1l',
                  'Volkswagen Golf'                                                               :   'VolkswagenGolf',
                  'Apartment (1 bedroom) in City Centre'                                          :   '1Bed_Apartment_CityCentre',
                  'Apartment (1 bedroom) Outside of Centre'                                       :   '1Bed_Apartment_OutsideofCentre',
                  'Apartment (3 bedrooms) in City Centre'                                         :   '3Bed_Apartment_CityCentre',
                  'Apartment (3 bedrooms) Outside of Centre'                                      :   '3Bed_Apartment_OutsideofCentre',
                  'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment'      :   'Basic_ElectricityHeatingCoolingWaterGarbage_for85m2Apartment',
                  '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)'                 :   '1minOfPrepaidMobileTariffLocal',
                  'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)'                        :   'Internet',
                  'Fitness Club, Monthly Fee for 1 Adult'                                         :   'FitnessClub_Monthlyfor1Adult',
                  'Tennis Court Rent (1 Hour on Weekend)'                                         :   'Tennis_Court_Rent_1HourWeekend',
                  'Cinema, International Release, 1 Seat'                                         :   'Cinema_1Seat',
                  '1 Pair of Jeans (Levis 501 Or Similar)'                                        :   '1PairOfJeans',
                  '1 Summer Dress in a Chain Store (Zara, H&M, ...)'                              :   '1SummerDress_ChainStore',
                  '1 Pair of Nike Running Shoes (Mid-Range)'                                      :   '1PairNikeRunningShoes',
                  '1 Pair of Men Leather Business Shoes'                                          :   '1PairMenLeatherBusinessShoes',
                  'Price per Square Meter to Buy Apartment in City Centre'                        :   'Apartment_inCityCentre_PricePerm2',
                  'Price per Square Meter to Buy Apartment Outside of Centre'                     :   'Apartment_OutsideOfCentre_PricePerm2',
                  'Average Monthly Net Salary (After Tax)'                                        :   'AvgMonthly_Netto_Salary',
                  'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate'    :   'Mortgage_Interest_Rate_%_Yearly_for_20_Years_Fixed-Rate',
                  'Taxi Start (Normal Tariff)'                                                    :   'Taxi_Start',
                  'Taxi 1km (Normal Tariff)'                                                      :   'Taxi_1km',
                  'Taxi 1hour Waiting (Normal Tariff)'                                            :   'Taxi_1h_Waiting',
                  'Apples (1kg)'                                                                  :   'Apples_1kg',
                  'Oranges (1kg)'                                                                 :   'Oranges_1kg)',
                  'Potato (1kg)'                                                                  :   'Potato_1kg)',
                  'Lettuce (1 head)'                                                              :   'Lettuce_1head',
                  'Cappuccino (regular)'                                                          :   'Cappuccino',
                  'Rice (white), (1kg)'                                                           :   'RiceWhite_1kg',
                  'Tomato (1kg)'                                                                  :   'Tomato_1kg',
                  'Banana (1kg)'                                                                  :   'Banana_1kg',
                  'Onion (1kg)'                                                                   :   'Onion_1kg',
                  'Beef Round (1kg) (or Equivalent Back Leg Red Meat)'                            :   'Beef_1kg',
                  'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)'                      :   'Toyota Corolla_Or_New Car',
                  'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child'           :   'PreschoolPrivate_MonthlyFor1Child',
                  'International Primary School, Yearly for 1 Child'                              :   'Primary School_YearlyFor1Child'
    
                  }

df.rename(index=newColumnNames, inplace=True)
df.head(1)

                      Saint Petersburg, Russia  ...  Quito, Ecuador
City                                            ...
Meal_InexpRestaurant                      7.34  ...            3.59

[1 rows x 160 columns]

In [253]:
# Wyrzucenie niepotrzebnych wierszy:
df.drop(index=['McMeal_or_Equivalent_Combo_Meal', 'Domestic_Beer_0.5l_draught', 'Imported_Beer_0.33l_bottle', 'CokeOrPepsi_0.33l_bottle', 'WineBottle', 
                            'Domestic_Beer_0.5l_bottle', 'Imported_Beer_0.33l_bottle', 'Cigarettes20Pack', 'Mortgage_Interest_Rate_%_Yearly_for_20_Years_Fixed-Rate', 'Beef_1kg'], inplace=True)

df.index

Index(['Meal_InexpRestaurant', 'Meal2People_MidRestaunant_3-course',
       'Water_0.33l_bottle', 'Milk_1l', 'LoafofBread_500g', '12Eggs',
       'Cheese_1kg', 'Water_1.5l_bottle', 'OneWay_Ticket_LocalTransport',
       'ChickenBreasts_1kg', 'MonthlyPass_Regular', 'Gasoline_1l',
       'VolkswagenGolf', '1Bed_Apartment_CityCentre',
       '1Bed_Apartment_OutsideofCentre', '3Bed_Apartment_CityCentre',
       '3Bed_Apartment_OutsideofCentre',
       'Basic_ElectricityHeatingCoolingWaterGarbage_for85m2Apartment',
       '1minOfPrepaidMobileTariffLocal', 'Internet',
       'FitnessClub_Monthlyfor1Adult', 'Tennis_Court_Rent_1HourWeekend',
       'Cinema_1Seat', '1PairOfJeans', '1SummerDress_ChainStore',
       '1PairNikeRunningShoes', '1PairMenLeatherBusinessShoes',
       'Apartment_inCityCentre_PricePerm2',
       'Apartment_OutsideOfCentre_PricePerm2', 'AvgMonthly_Netto_Salary',
       'Taxi_Start', 'Taxi_1km', 'Taxi_1h_Waiting', 'Apples_1kg',
       'Oranges_1kg)', 'Potato_1kg)', 'Lettuce_1head', 'Cappuccino',
       'RiceWhite_1kg', 'Tomato_1kg', 'Banana_1kg', 'Onion_1kg',
       'Toyota Corolla_Or_New Car', 'PreschoolPrivate_MonthlyFor1Child',
       'Primary School_YearlyFor1Child'],
      dtype='object', name='City')

In [254]:
df.reset_index(inplace=True)
df.head(1)

                   City  ...  Quito, Ecuador
0  Meal_InexpRestaurant  ...            3.59

[1 rows x 161 columns]

In [255]:
import re

# Nie chcę się przejmować wielkością znaków - re.IGNORECASE
# .* - dowolna liczba znaków
regex = re.compile('.*[0-9]l.*', re.IGNORECASE)

beverages = df['City'].apply(lambda x: bool(regex.search(x)))

df[beverages].head()

                  City  ...  Quito, Ecuador
2   Water_0.33l_bottle  ...            0.47
3              Milk_1l  ...            0.87
7    Water_1.5l_bottle  ...            0.93
11         Gasoline_1l  ...            0.54

[4 rows x 161 columns]

In [256]:
df.insert(loc=1, column="Category", value=0)
df.head()

                                 City  ...  Quito, Ecuador
0                Meal_InexpRestaurant  ...            3.59
1  Meal2People_MidRestaunant_3-course  ...           31.45
2                  Water_0.33l_bottle  ...            0.47
3                             Milk_1l  ...            0.87
4                    LoafofBread_500g  ...            1.35

[5 rows x 162 columns]

In [258]:
# Dodanie kategorii:

df.loc[beverages, 'Category'] = 'beverages'

df.head(20)

                                                 City  ... Quito, Ecuador
0                                Meal_InexpRestaurant  ...           3.59
1                  Meal2People_MidRestaunant_3-course  ...          31.45
2                                  Water_0.33l_bottle  ...           0.47
3                                             Milk_1l  ...           0.87
4                                    LoafofBread_500g  ...           1.35
5                                              12Eggs  ...           1.59
6                                          Cheese_1kg  ...           5.47
7                                   Water_1.5l_bottle  ...           0.93
8                        OneWay_Ticket_LocalTransport  ...           0.22
9                                  ChickenBreasts_1kg  ...           6.01
10                                MonthlyPass_Regular  ...          23.81
11                                        Gasoline_1l  ...           0.54
12                                     VolkswagenGolf  ...       21563.64
13                          1Bed_Apartment_CityCentre  ...         369.07
14                     1Bed_Apartment_OutsideofCentre  ...         221.89
15                          3Bed_Apartment_CityCentre  ...         680.28
16                     3Bed_Apartment_OutsideofCentre  ...         447.51
17  Basic_ElectricityHeatingCoolingWaterGarbage_fo...  ...          39.64
18                     1minOfPrepaidMobileTariffLocal  ...           0.11
19                                           Internet  ...          36.77

[20 rows x 162 columns]

In [231]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Columns: 162 entries, City to Quito, Ecuador
dtypes: bool(1), float64(160), object(1)
memory usage: 59.8 KB

In [232]:
# Ile jest wierszy w każdej kolumnie?
df.count()

City                        45
Category                    45
Saint Petersburg, Russia    45
Istanbul, Turkey            45
Izmir, Turkey               45
                            ..
Melbourne, Australia        45
Perth, Australia            45
Sydney, Australia           45
Alexandria, Egypt           45
Quito, Ecuador              45
Length: 162, dtype: int64

In [0]:
# Transpozycja tabelki
df_transponed = df.transpose()
df_transponed.head(2)