<a href="https://colab.research.google.com/github/ArminD93/cost_livning_dataset/blob/dev/Cost_living_configuration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="ticks", color_codes=True)



df = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Cost_living/datasets/cost-of-living.csv', low_memory=False)
region_df = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Cost_living/datasets/region_df.csv', low_memory=False)

In [0]:
# Kopia danych:
df = df.copy()
region_df = region_df.copy()

# Ustawienie indeksu:
df.set_index('Unnamed: 0', inplace=True)
df.index

Index(['Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Domestic Beer (0.5 liter draught)',
       'Imported Beer (0.33 liter bottle)', 'Coke/Pepsi (0.33 liter bottle)',
       'Water (0.33 liter bottle)', 'Milk (regular), (1 liter)',
       'Loaf of Fresh White Bread (500g)', 'Eggs (regular) (12)',
       'Local Cheese (1kg)', 'Water (1.5 liter bottle)',
       'Bottle of Wine (Mid-Range)', 'Domestic Beer (0.5 liter bottle)',
       'Imported Beer (0.33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)',
       'One-way Ticket (Local Transport)',
       'Chicken Breasts (Boneless, Skinless), (1kg)',
       'Monthly Pass (Regular Price)', 'Gasoline (1 liter)', 'Volkswagen Golf',
       'Apartment (1 bedroom) in City Centre',
       'Apartment (1 bedroom) Outside of Centre',
       'Apartment (3 bedrooms) in City Centre',
       'Apartment (3 bedrooms) Outside of Centre',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent (1 Hour on Weekend)',
       'Cinema, International Release, 1 Seat',
       '1 Pair of Jeans (Levis 501 Or Similar)',
       '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
       '1 Pair of Nike Running Shoes (Mid-Range)',
       '1 Pair of Men Leather Business Shoes',
       'Price per Square Meter to Buy Apartment in City Centre',
       'Price per Square Meter to Buy Apartment Outside of Centre',
       'Average Monthly Net Salary (After Tax)',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'Taxi Start (Normal Tariff)', 'Taxi 1km (Normal Tariff)',
       'Taxi 1hour Waiting (Normal Tariff)', 'Apples (1kg)', 'Oranges (1kg)',
       'Potato (1kg)', 'Lettuce (1 head)', 'Cappuccino (regular)',
       'Rice (white), (1kg)', 'Tomato (1kg)', 'Banana (1kg)', 'Onion (1kg)',
       'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
       'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'International Primary School, Yearly for 1 Child'],
      dtype='object', name='Unnamed: 0')

In [0]:
# Wyrzucenie niepotrzebnych wierszy:
df.drop(index=['McMeal at McDonalds (or Equivalent Combo Meal)', 'Domestic Beer (0.5 liter draught)', 'Imported Beer (0.33 liter bottle)', 'Coke/Pepsi (0.33 liter bottle)', 'Bottle of Wine (Mid-Range)', 
                            'Domestic Beer (0.5 liter bottle)', 'Imported Beer (0.33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)',
               'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate', 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)'], inplace=True)
df.index

Index(['Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'Water (0.33 liter bottle)', 'Milk (regular), (1 liter)',
       'Loaf of Fresh White Bread (500g)', 'Eggs (regular) (12)',
       'Local Cheese (1kg)', 'Water (1.5 liter bottle)',
       'One-way Ticket (Local Transport)',
       'Chicken Breasts (Boneless, Skinless), (1kg)',
       'Monthly Pass (Regular Price)', 'Gasoline (1 liter)', 'Volkswagen Golf',
       'Apartment (1 bedroom) in City Centre',
       'Apartment (1 bedroom) Outside of Centre',
       'Apartment (3 bedrooms) in City Centre',
       'Apartment (3 bedrooms) Outside of Centre',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent (1 Hour on Weekend)',
       'Cinema, International Release, 1 Seat',
       '1 Pair of Jeans (Levis 501 Or Similar)',
       '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
       '1 Pair of Nike Running Shoes (Mid-Range)',
       '1 Pair of Men Leather Business Shoes',
       'Price per Square Meter to Buy Apartment in City Centre',
       'Price per Square Meter to Buy Apartment Outside of Centre',
       'Average Monthly Net Salary (After Tax)', 'Taxi Start (Normal Tariff)',
       'Taxi 1km (Normal Tariff)', 'Taxi 1hour Waiting (Normal Tariff)',
       'Apples (1kg)', 'Oranges (1kg)', 'Potato (1kg)', 'Lettuce (1 head)',
       'Cappuccino (regular)', 'Rice (white), (1kg)', 'Tomato (1kg)',
       'Banana (1kg)', 'Onion (1kg)',
       'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'International Primary School, Yearly for 1 Child'],
      dtype='object', name='Unnamed: 0')

In [0]:
newIndexNames = {
                  'Meal, Inexpensive Restaurant'                                                  :   'Meal_InexpRestaurant',
                  'Meal for 2 People, Mid-range Restaurant, Three-course'                         :   'Meal2People_MidRestaunant_3-course',
                  'Water (0.33 liter bottle)'                                                     :   'Water_0.33l_bottle',
                  'Milk (regular), (1 liter)'                                                     :   'Milk_1l',
                  'Loaf of Fresh White Bread (500g)'                                              :   'LoafofBread_500g',
                  'Eggs (regular) (12)'                                                           :   '12Eggs',
                  'Local Cheese (1kg)'                                                            :   'Cheese_1kg',
                  'Water (1.5 liter bottle)'                                                      :   'Water_1.5l_bottle',  
                  'One-way Ticket (Local Transport)'                                              :   'OneWay_Ticket_LocalTransport',
                  'Chicken Breasts (Boneless, Skinless), (1kg)'                                   :   'ChickenBreasts_1kg',
                  'Monthly Pass (Regular Price)'                                                  :   'MonthlyPass_Regular',
                  'Gasoline (1 liter)'                                                            :   'Gasoline_1l',
                  'Volkswagen Golf'                                                               :   'VolkswagenGolf_car',
                  'Apartment (1 bedroom) in City Centre'                                          :   '1Bed_Apartment_CityCentre',
                  'Apartment (1 bedroom) Outside of Centre'                                       :   '1Bed_Apartment_OutsideofCentre',
                  'Apartment (3 bedrooms) in City Centre'                                         :   '3Bed_Apartment_CityCentre',
                  'Apartment (3 bedrooms) Outside of Centre'                                      :   '3Bed_Apartment_OutsideofCentre',
                  'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment'      :   'Basic_ElectricityHeatingCoolingWaterGarbage_for85m2Apartment',
                  '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)'                 :   '1minOfPrepaidMobileTariffLocal',
                  'Internet (60 Mbps or M)ore, Unlimited Data, Cable/ADSL)'                        :   'Internet',
                  'Fitness Club, Monthly Fee for 1 Adult'                                         :   'FitnessClub_Monthlyfor1Adult',
                  'Tennis Court Rent (1 Hour on Weekend)'                                         :   'Tennis_Court_Rent_1HourWeekend',
                  'Cinema, International Release, 1 Seat'                                         :   'Cinema_1Seat',
                  '1 Pair of Jeans (Levis 501 Or Similar)'                                        :   '1PairOfJeans',
                  '1 Summer Dress in a Chain Store (Zara, H&M, ...)'                              :   '1SummerDress_ChainStore',
                  '1 Pair of Nike Running Shoes (Mid-Range)'                                      :   '1PairNikeRunningShoes',
                  '1 Pair of Men Leather Business Shoes'                                          :   '1PairMenLeatherBusinessShoes',
                  'Price per Square Meter to Buy Apartment in City Centre'                        :   'Apartment_inCityCentre_PricePerm2',
                  'Price per Square Meter to Buy Apartment Outside of Centre'                     :   'Apartment_OutsideOfCentre_PricePerm2',
                  'Average Monthly Net Salary (After Tax)'                                        :   'AvgMonthly_Netto_Salary',
                  'Taxi Start (Normal Tariff)'                                                    :   'Taxi_Start',
                  'Taxi 1km (Normal Tariff)'                                                      :   'Taxi_1km',
                  'Taxi 1hour Waiting (Normal Tariff)'                                            :   'Taxi_1h_Waiting',
                  'Apples (1kg)'                                                                  :   'Apples_1kg',
                  'Oranges (1kg)'                                                                 :   'Oranges_1kg',
                  'Potato (1kg)'                                                                  :   'Potato_1kg',
                  'Lettuce (1 head)'                                                              :   'Lettuce_1head',
                  'Cappuccino (regular)'                                                          :   'Cappuccino_1cup',
                  'Rice (white), (1kg)'                                                           :   'RiceWhite_1kg',
                  'Tomato (1kg)'                                                                  :   'Tomato_1kg',
                  'Banana (1kg)'                                                                  :   'Banana_1kg',
                  'Onion (1kg)'                                                                   :   'Onion_1kg',
                  'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)'                      :   'Toyota Corolla_Or_New Car',
                  'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child'           :   'PreschoolPrivate_MonthlyFor1Child',
                  'International Primary School, Yearly for 1 Child'                              :   'Primary School_YearlyFor1Child'
    
                  }

df.rename(index=newIndexNames, inplace=True)
df.index

Index(['Meal_InexpRestaurant', 'Meal2People_MidRestaunant_3-course',
       'Water_0.33l_bottle', 'Milk_1l', 'LoafofBread_500g', '12Eggs',
       'Cheese_1kg', 'Water_1.5l_bottle', 'OneWay_Ticket_LocalTransport',
       'ChickenBreasts_1kg', 'MonthlyPass_Regular', 'Gasoline_1l',
       'VolkswagenGolf_car', '1Bed_Apartment_CityCentre',
       '1Bed_Apartment_OutsideofCentre', '3Bed_Apartment_CityCentre',
       '3Bed_Apartment_OutsideofCentre',
       'Basic_ElectricityHeatingCoolingWaterGarbage_for85m2Apartment',
       '1minOfPrepaidMobileTariffLocal',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'FitnessClub_Monthlyfor1Adult', 'Tennis_Court_Rent_1HourWeekend',
       'Cinema_1Seat', '1PairOfJeans', '1SummerDress_ChainStore',
       '1PairNikeRunningShoes', '1PairMenLeatherBusinessShoes',
       'Apartment_inCityCentre_PricePerm2',
       'Apartment_OutsideOfCentre_PricePerm2', 'AvgMonthly_Netto_Salary',
       'Taxi_Start', 'Taxi_1km', 'Taxi_1h_Waiting', 'Apples_1kg',
       'Oranges_1kg', 'Potato_1kg', 'Lettuce_1head', 'Cappuccino_1cup',
       'RiceWhite_1kg', 'Tomato_1kg', 'Banana_1kg', 'Onion_1kg',
       'Toyota Corolla_Or_New Car', 'PreschoolPrivate_MonthlyFor1Child',
       'Primary School_YearlyFor1Child'],
      dtype='object', name='Unnamed: 0')

In [0]:
# Zresetowanie indeksu:
df.reset_index(inplace=True)
df.head()

                           Unnamed: 0  ...  Quito, Ecuador
0                Meal_InexpRestaurant  ...            3.59
1  Meal2People_MidRestaunant_3-course  ...           31.45
2                  Water_0.33l_bottle  ...            0.47
3                             Milk_1l  ...            0.87
4                    LoafofBread_500g  ...            1.35

[5 rows x 161 columns]

In [0]:
# Szukam wartości z zastosowaniem wyrażeń regularnych:
import re

# Nie chcę się przejmować wielkością znaków - re.IGNORECASE
# .* - dowolna liczba znaków
regex_beverages = re.compile('(bottle|cup|milk)', re.IGNORECASE)
regex_transport = re.compile('(car|transport|taxi|MonthlyPass|gasoline)', re.IGNORECASE)
regex_clothes = re.compile('(pair|shoes|dress|jeans|ChainStore)', re.IGNORECASE)
regex_education = re.compile('school', re.IGNORECASE)
regex_apartament = re.compile('apartment', re.IGNORECASE)
regex_foods = re.compile('(.*[0-9]kg.*|[1-9]g.*|(meal|egg|bread|head))', re.IGNORECASE)
regex_other = re.compile('(salary|internet|fitness|tennis|cinema|mobile)', re.IGNORECASE)

beverages = df['Unnamed: 0'].apply(lambda x: bool(regex_beverages.search(x)))
transport = df['Unnamed: 0'].apply(lambda x: bool(regex_transport.search(x)))
clothes = df['Unnamed: 0'].apply(lambda x: bool(regex_clothes.search(x)))
education = df['Unnamed: 0'].apply(lambda x: bool(regex_education.search(x)))
apartament = df['Unnamed: 0'].apply(lambda x: bool(regex_apartament.search(x)))
foods = df['Unnamed: 0'].apply(lambda x: bool(regex_foods.search(x)))
other = df['Unnamed: 0'].apply(lambda x: bool(regex_other.search(x)))

df[other]

                                           Unnamed: 0  ...  Quito, Ecuador
18                     1minOfPrepaidMobileTariffLocal  ...            0.11
19  Internet (60 Mbps or More, Unlimited Data, Cab...  ...           36.77
20                       FitnessClub_Monthlyfor1Adult  ...           40.91
21                     Tennis_Court_Rent_1HourWeekend  ...           16.73
22                                       Cinema_1Seat  ...            5.39
29                            AvgMonthly_Netto_Salary  ...          527.18

[6 rows x 161 columns]

In [0]:
# Wstawiam kolumnę Category, jak najbliżej z lewej strony:
df.insert(loc=1, column="Category", value=0)
df.head(3)

                           Unnamed: 0  ...  Quito, Ecuador
0                Meal_InexpRestaurant  ...            3.59
1  Meal2People_MidRestaunant_3-course  ...           31.45
2                  Water_0.33l_bottle  ...            0.47

[3 rows x 162 columns]

In [0]:
# Dodanie kategorii:
df.loc[beverages, 'Category'] = 'beverages'
df.loc[foods, 'Category'] = 'foods'
df.loc[transport, 'Category'] = 'transport'
df.loc[clothes, 'Category'] = 'clothes'
df.loc[education, 'Category'] = 'education'
df.loc[apartament, 'Category'] = 'apartament'
df.loc[other, 'Category'] = 'other'

df.head()

                           Unnamed: 0  ... Quito, Ecuador
0                Meal_InexpRestaurant  ...           3.59
1  Meal2People_MidRestaunant_3-course  ...          31.45
2                  Water_0.33l_bottle  ...           0.47
3                             Milk_1l  ...           0.87
4                    LoafofBread_500g  ...           1.35

[5 rows x 162 columns]

In [0]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Columns: 162 entries, Unnamed: 0 to Quito, Ecuador
dtypes: float64(160), object(2)
memory usage: 64.1 KB

In [0]:
# Ile jest wierszy w każdej kolumnie?
df.count()

Unnamed: 0                  45
Category                    45
Saint Petersburg, Russia    45
Istanbul, Turkey            45
Izmir, Turkey               45
                            ..
Melbourne, Australia        45
Perth, Australia            45
Sydney, Australia           45
Alexandria, Egypt           45
Quito, Ecuador              45
Length: 162, dtype: int64

In [0]:
# Zmiana na multiindex:
df.set_index(['Category', 'Unnamed: 0'],inplace=True)
df.sort_index(inplace=True)
df.head()

                                                 Saint Petersburg, Russia  ...  Quito, Ecuador
Category   Unnamed: 0                                                      ...
apartament 1Bed_Apartment_CityCentre                               524.45  ...          369.07
           1Bed_Apartment_OutsideofCentre                          344.27  ...          221.89
           3Bed_Apartment_CityCentre                              1012.53  ...          680.28
           3Bed_Apartment_OutsideofCentre                          615.19  ...          447.51
           Apartment_OutsideOfCentre_PricePerm2                   1507.70  ...          947.32

[5 rows x 160 columns]

In [0]:
# Transponowanie obiektu data frame:
df_transponed = df.transpose()
df_transponed.head()

Category                                apartament  ...          transport
Unnamed: 0               1Bed_Apartment_CityCentre  ... VolkswagenGolf_car
Saint Petersburg, Russia                    524.45  ...           19289.39
Istanbul, Turkey                            291.55  ...           24443.15
Izmir, Turkey                               212.22  ...           24443.15
Helsinki, Finland                           986.93  ...           22000.00
Chisinau, Moldova                           244.49  ...           16335.12

[5 rows x 45 columns]

In [0]:
# Zresetowanie indeksu:
df_transponed.reset_index(inplace=True)
df_transponed.head()

Category                       index  ...          transport
Unnamed: 0                            ... VolkswagenGolf_car
0           Saint Petersburg, Russia  ...           19289.39
1                   Istanbul, Turkey  ...           24443.15
2                      Izmir, Turkey  ...           24443.15
3                  Helsinki, Finland  ...           22000.00
4                  Chisinau, Moldova  ...           16335.12

[5 rows x 46 columns]

In [0]:
# Rozdzielenie nazw państw od nazw miast:
df_transponed[['City', 'Country']] = df_transponed['index'].str.split(', ', 1, expand=True)
df_transponed.head()

Category                       index  ...  Country
Unnamed: 0                            ...
0           Saint Petersburg, Russia  ...   Russia
1                   Istanbul, Turkey  ...   Turkey
2                      Izmir, Turkey  ...   Turkey
3                  Helsinki, Finland  ...  Finland
4                  Chisinau, Moldova  ...  Moldova

[5 rows x 48 columns]

In [0]:
# Opuszczenie kolumny, gdzie razem znajdowały się Państwa i miasta:
df_transponed = df_transponed.drop(columns=['index'])
df_transponed.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3946: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

Category                  apartament  ...  Country
Unnamed: 0 1Bed_Apartment_CityCentre  ...
0                             524.45  ...   Russia
1                             291.55  ...   Turkey
2                             212.22  ...   Turkey
3                             986.93  ...  Finland
4                             244.49  ...  Moldova

[5 rows x 47 columns]

In [0]:
import requests
import urllib.request
from bs4 import BeautifulSoup

# Pobieranie nazw regionów ze strony, gdzie znajdują się dane wykorzystane w projekcie.
class World:
  """
  World - class that retrieves region names from the page
  """
  def __init__(self): 
    """
    init - preparation of variables
    country - prepare variable which cotanin em
    region_links - list will store urls to region names
    region_names - list will store region names
    subregion_names - list will store subregion names
    subregion_links - list will store urls to subregion names
    region_dict - dictionary will store region/subregions names as keys and urls as values
    region_df - the result will be saved to data frame  region_df
    """    
    self.country = ''
    self.region_links = []
    self.region_names = []
    self.subregion_names = []
    self.subregion_links = []
    self.region_dict = {}
    self.region_df = pd.DataFrame()

  def findRegionLink(self):
    """findRegionLink - function which find urls to region names on page"""
    page = 'https://www.numbeo.com/cost-of-living/prices_by_city.jsp?itemId=101&itemId=100&itemId=228&itemId=224&itemId=60&itemId=66&itemId=64&itemId=62&itemId=110&itemId=118&itemId=121&itemId=14&itemId=19&itemId=17&itemId=15&itemId=11&itemId=16&itemId=113&itemId=9&itemId=12&itemId=8&itemId=119&itemId=111&itemId=112&itemId=115&itemId=116&itemId=13&itemId=27&itemId=26&itemId=29&itemId=28&itemId=114&itemId=6&itemId=4&itemId=5&itemId=3&itemId=2&itemId=1&itemId=7&itemId=105&itemId=106&itemId=44&itemId=40&itemId=42&itemId=24&itemId=20&itemId=18&itemId=109&itemId=108&itemId=107&itemId=206&itemId=25&itemId=32&itemId=30&itemId=33&displayCurrency=EUR'
    response = requests.get(page)
    soup = BeautifulSoup(response.content, 'html.parser')
    regions = soup.find_all('a', class_="ui-state-default region_link")
    for data in regions:
      self.region_names.append(data.text)
      self.region_links.append(data.get('href'))

  def findSubregion(self):
    """findSubregion - function which find urls to subregion names on page"""
    for subregion in self.region_links:
      page = subregion
      response = requests.get(page)
      soup = BeautifulSoup(response.content, 'html.parser')
      subregions = soup.find_all('a', class_="ui-state-default region_link")
      for data in subregions:
        self.subregion_names.append(data.text)
        self.subregion_links.append(data.get('href'))

  def CreateRegionDict(self):
    """CreateRegionDict - function which create dictionary from region names and urls"""
    self.region_dict = dict(zip(self.region_names, self.region_links))  
    self.subregion_dict = dict(zip(self.subregion_names, self.subregion_links))
    self.region_dict.update(self.subregion_dict)

  def findRegion(self, country):
    """findRegion - function which find region names using dictionary and saving them to data frame"""    
    for key in self.region_dict:
      page = self.region_dict[key]
      response = requests.get(page)
      soup = BeautifulSoup(response.content, 'html.parser')
      country_set = soup.find_all('td', text = re.compile(country))
      if len(country_set) > 0:
        self.region_name = key 
    self.region_df = self.region_df.append({'region' : self.region_name}, ignore_index=True)

In [0]:
#region = World()

#region.findRegionLink()
#region.findSubregion()
#region.CreateRegionDict()

In [0]:
#print('Pobieranie nazw regionów')
#for index, row in df_transponed['Country'].items():
#  region.findRegion(row)
#print('Nazwy regionów zostały dodane do data frame')

In [0]:
#egion_df = region.region_df
region_df.head()

            region
0   Eastern Europe
1     Western Asia
2     Western Asia
3  Northern Europe
4  Northern Europe

In [0]:
#region_df.to_csv(r'/content/drive/My Drive/Colab Notebooks/Cost_living/datasets/region_df.csv', columns=['region'], index=False )
#print('Dane zapisane do pliku region_name.csv')

In [0]:
df_transponed.insert(loc=0, column="Region", value=region_df.region)
df_transponed = df_transponed.copy()
df_transponed.head()

Category             Region  ...  Country
Unnamed: 0                   ...
0            Eastern Europe  ...   Russia
1              Western Asia  ...   Turkey
2              Western Asia  ...   Turkey
3           Northern Europe  ...  Finland
4           Northern Europe  ...  Moldova

[5 rows x 48 columns]

In [0]:
# Utworzenie mulitindexu:
df_transponed.set_index(['Region','Country','City'],inplace=True)
df_transponed.sort_index(inplace=True)

In [0]:
df_transponed.head(50)

Category                                                            apartament  ...          transport
Unnamed: 0                                           1Bed_Apartment_CityCentre  ... VolkswagenGolf_car
Region           Country            City                                        ...
Caribbean        Dominican Republic Santo Domingo                       381.17  ...           20780.40
Central America  Costa Rica         San Jose                            461.72  ...           20446.99
                 Mexico             Guadalajara                         309.42  ...           16535.22
                                    Mexico City                         550.18  ...           16702.48
                                    Monterrey                           342.55  ...           16424.20
                 Panama             Panama City                         811.63  ...           16172.73
Central Asia     Kazakhstan         Almaty                              288.22  ...           15494.56
Eastern Africa   Kenya              Nairobi                             383.88  ...           14620.32
Eastern Asia     China              Beijing                             946.89  ...           18230.92
                                    Shanghai                            970.31  ...           18230.92
                 Hong Kong          Hong Kong                          2041.88  ...           28915.30
                 Japan              Tokyo                              1013.36  ...           20769.54
                 South Korea        Seoul                               714.76  ...           24887.49
                 Taiwan             Taipei                              487.78  ...           27049.67
Eastern Europe   Belarus            Minsk                               376.92  ...           13477.27
                 Bulgaria           Plovdiv                             240.77  ...           17863.74
                                    Sofia                               370.72  ...           19518.73
                                    Varna                               235.36  ...           18374.14
                 Czech Republic     Brno                                558.68  ...           17851.84
                                    Prague                              805.86  ...           17812.17
                 Hungary            Budapest                            480.55  ...           17376.41
                 Poland             Gdansk                              515.00  ...           18568.29
                                    Krakow (Cracow)                     513.06  ...           18568.29
                                    Lodz                                362.66  ...           18558.88
                                    Poznan                              443.21  ...           18558.88
                                    Warsaw                              616.05  ...           18568.29
                                    Wroclaw                             517.55  ...           16772.88
                 Romania            Brasov                              304.39  ...           15960.00
                                    Bucharest                           401.41  ...           16534.62
                                    Cluj-Napoca                         387.79  ...           15681.10
                                    Iasi                                272.07  ...           15697.62
                                    Timisoara                           287.68  ...           15960.00
                 Russia             Moscow                              888.23  ...           20969.60
                                    Novosibirsk                         344.85  ...           18196.16
                                    Saint Petersburg                    524.45  ...           19289.39
                                    Yekaterinburg                       332.66  ...           19857.48
                 Slovakia           Bratislava                          635.45  ...           16000.00
                 Ukraine            Kharkiv                             346.56  ...           22507.19
                                    Kiev                                589.81  ...           21608.29
                                    Lviv                                364.65  ...           20706.61
                                    Odessa                              344.01  ...           21584.23
                 Uzbekistan         Tashkent                            209.86  ...           17071.22
Northern Africa  Egypt              Alexandria                          142.04  ...           23626.73
                                    Cairo                               188.00  ...           25098.60
                 Morocco            Casablanca                          386.18  ...           20632.89
                 Tunisia            Tunis                               173.76  ...           21863.24
Northern America AZ, United States  Phoenix                            1092.25  ...           19156.78
                 CA, United States  Los Angeles                        1980.11  ...           19753.89
                                    San Diego                          1816.10  ...           20665.15
                                    San Francisco                      3131.06  ...           19802.61

[50 rows x 45 columns]

In [0]:
class Distribution:
  '''Distrubtion - class where distribution plots are stored'''
  def __init__(self, dataset):
    self.dataset = dataset
    self.colorList = ['dodgerblue', 'red', 'g', 'darkmagenta']
    sns.set(style='whitegrid', color_codes=True)


  def __createHistogram(self, value, bins):
    '''__createHistogram - method which create Histogram'''
    if self.row != None:
      SetColumnRow = self.axes[self.row,self.col]
      DataRow = value[self.row]
      index = self.row
    else:
      SetColumnRow = self.axes[self.col]
      DataRow = value
      index = 0
    sns.distplot(self.dataset[DataRow], bins=bins[self.col], hist=True, axlabel=False, label=DataRow, color=self.colorList[index], ax=SetColumnRow )
    SetColumnRow.set(ylabel='Liczba wystąpień', title='bins: {}'.format(bins[self.col]) )
    SetColumnRow.legend( frameon=True)  
 

  def addHist_with_variety_values_of_bins(self, value, bins,  set_width=10, set_height=5):
    ''' addHistMatrix - Compare histograms according to bin counts'''
    if isinstance(value, list):
      fig, self.axes = plt.subplots(nrows=len(value), ncols=len(bins), figsize=(set_width, set_height), constrained_layout=True)
      self.index = 0
      for self.row in range(len(value)):
          for self.col in range(len(bins)):
            self.__createHistogram(value, bins)
            self.index+=1  
    else:
      self.row = None
      fig, self.axes = plt.subplots(nrows=1, ncols=len(bins), figsize=(set_width, set_height), constrained_layout=True)
      for self.col in range(len(bins)):
        self.__createHistogram(value, bins)
    plt.show()


  def addHist(self, value, bins, set_width, set_height):
    '''addHist - Adding histogram'''
    if isinstance(value, list):
      fig, self.axes = plt.subplots(nrows=len(value), ncols=1, figsize=(set_width, set_height), constrained_layout=True)
      self.index = 0
      self.col=0
      for row in range(len(value)):
          sns.distplot(self.dataset[value[self.index]], bins=bins, hist=True, axlabel=False, label=value,  color=self.colorList[self.index], ax=self.axes[row])
          self.axes[row].set( ylabel='liczba wystąpień', title='bins: {}'.format(bins))
          self.axes[row].legend( frameon=True)
          self.index+=1
    else:
      g = plt.figure(figsize=(set_width, set_height), constrained_layout=True)
      g = sns.distplot(self.dataset[value], bins=bins, hist=True, axlabel=False, label=value,  color=self.colorList[0])
      g.set( ylabel='liczba wystąpień', title='bins: {}'.format(bins))
      g.legend( frameon=True)   
    plt.show()


  def addStackedHist(self, list, bins, set_width=20, set_height=8): 
    ''' addStackedHist - Adding stacked histogram''' 
    fig, self.axes = plt.subplots(nrows=1, ncols=2, figsize=(set_width, set_height), constrained_layout=True)
    self.index = 0
    SlicedColsList= list[1:]
    for col in range(2):
      for value in SlicedColsList:
            g = sns.distplot(self.dataset[value], bins=bins, hist=True, kde=False, label=value, axlabel=False, color=self.colorList[self.index], ax=self.axes[col])
            g.set(ylabel='Liczba wystąpień', title='bins: {}'.format(bins) )
            g.legend( frameon=True)
            self.index+=1
      self.index = 0
      SlicedColsList= list[:1]
    plt.show()


  def addDensityDistribution(self, value, set_width, set_height, y_max=2, step=0.1):
    ''' addDensityDistribution - Adding density distrubution'''
    if isinstance(value, list):    
      fig, self.axes = plt.subplots(nrows=1, ncols=2, figsize=(set_width, set_height), constrained_layout=True)
      self.index = 0
      SlicedColsList= value[1:]
      for col in range(2):
        for val in SlicedColsList:
          g = sns.kdeplot(self.dataset[val], label=val, shade=True, color=self.colorList[self.index], ax=self.axes[col])
          g.set(ylabel='Liczba wystąpień' )
          g.legend( frameon=True)
          g.set_yticks(np.arange(0, y_max, step=step))
          self.index+=1 
        self.index = 0
        SlicedColsList= value[:1]
    else:
      g = plt.figure(figsize=(set_width, set_height))
      g = sns.kdeplot(self.dataset[value], label=value,  shade=True, color=self.colorList[0])
      g.legend( frameon=True)          
    plt.show()


  def addBoxPlot(self, y_value, x_value, set_width=23, set_height=12):
    ''' addBoxPlot - Adding box plot'''
    if isinstance(y_value, list):       
      fig, self.axes = plt.subplots(nrows=1, ncols=3, figsize=(set_width, set_height), sharey=True, constrained_layout=True )
      self.index = 0
      self.Labelindex = 0
      SlicedColsList= y_value[1:]
      for col in range(3):
          ranks = self.dataset.groupby(x_value)[SlicedColsList[self.Labelindex]].mean().sort_values().index
          g = sns.boxplot( x=x_value, y=SlicedColsList[self.Labelindex], data=self.dataset, color=self.colorList[self.index], order = ranks, ax=self.axes[col])
          g.set_yticks(np.arange(0, 1.8, step=0.15))
          g.set_xticklabels( g.get_xticklabels(), rotation=45,  horizontalalignment='right', fontweight='light' )
          self.index+=1
          self.Labelindex+=1
    else: 
          plt.figure(figsize=(set_width, set_height))
          g = sns.boxplot(x=self.dataset[x_value], y=self.dataset[y_value])
    plt.show()

In [0]:
class Correlation:
    '''Correlation - class where correlation plots are stored
    '''
    def __init__(self, dataset):
      self.dataset = dataset
      self.x_data = []
      self.y_data = []
      self.step = 0
      self.size = ''
      sns.set(style='whitegrid', color_codes=True)

    @property
    def addCorrelationmap(self):
      '''addCorrelationmap - Adding correlation heatmap from data frame'''
      corr= self.dataset.corr()
      g = plt.figure(figsize=(8,6))
      g = sns.heatmap(corr, xticklabels=corr.columns.values, yticklabels=corr.columns.values, annot=True, fmt='.2f', linewidth=.03)
      g.set_xticklabels( g.get_xticklabels(), rotation=45,  horizontalalignment='right', fontweight='light' )


    def addScatterPlot(self, x_data, y_data, width=12, height=8, kind='scatter', xstep=1, ystep=1):
      '''addScatterPlot - Adding scatter plot
         x_data - set data for x axis,
         y_data - set data for y axis,
         step - set step for axis x and y
      '''    
      g = sns.relplot(x=x_data, y=y_data, data=self.dataset, kind=kind)
      g.fig.set_size_inches(width, height)
      g.set(xticks=np.arange(0, self.dataset[x_data].max()+xstep, xstep), yticks=np.arange(0, self.dataset[y_data].max()+ystep, ystep))  
      plt.show()


    def addBubbleplot(self, x_data, y_data, size, hue_set=False, height=8, aspect=1, kind='scatter', xstep=1, ystep=1):
      '''addBubbleplot - Adding scatter plot with specific size of dots
         x_data - set data for x axis,
         y_data - set data for y axis,
         step - set step for axis x and y,
         size - set size of dots, choose column name from data frame, 
         hue_set - set hue of dots, choose column name from data frame, 
      ''' 
      g = sns.relplot(x=x_data, y=y_data, data=self.dataset, kind=kind,size=size, sizes=(10, 900), alpha=0.8, hue=hue_set, palette="muted",  height=height, aspect=aspect)
      g.set(xticks=np.arange(0, self.dataset[x_data].max()+xstep, xstep), yticks=np.arange(0, self.dataset[y_data].max()+ystep, ystep))  
      plt.show()


    def addJointplot(self, x_data, y_data, set_height, set_ratio):
      '''addjointplot - Adding hexbin plot with specific size of dots
         x_data - set data for x axis,
         y_data - set data for y axis
      '''
      g =sns.jointplot(x=x_data, y=y_data, data=self.dataset, kind='reg', truncate=False, height=set_height, ratio=set_ratio)
      plt.show()