<a href="https://colab.research.google.com/github/ArminD93/cost_livning_dataset/blob/master/Cost_living.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/content/cost-of-living.csv')
df.head(3)

                                          Unnamed: 0  ...  Quito, Ecuador
0                       Meal, Inexpensive Restaurant  ...            3.59
1  Meal for 2 People, Mid-range Restaurant, Three...  ...           31.45
2     McMeal at McDonalds (or Equivalent Combo Meal)  ...            5.39

[3 rows x 161 columns]

In [4]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Columns: 161 entries, Unnamed: 0 to Quito, Ecuador
dtypes: float64(160), object(1)
memory usage: 73.8 KB